@import "config";
@import "menu";
@import "media";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #333;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
  &.large-heading {
    font-size: 5rem;
  }

  &.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: gray;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem;
  height: 100%;
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.5rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
