* {
  box-sizing: border-box; }

body {
  background: #e4e4e4;
  color: #333;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(228, 228, 228, 0.3); }

h1,
h2 {
  margin: 0;
  font-weight: 400; }
  h1.large-heading,
  h2.large-heading {
    font-size: 5rem; }
  h1.small-heading,
  h2.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(233, 233, 233, 0.5); }

a {
  color: gray;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #7a1818; }

main {
  padding: 4rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.5rem; }
      main .icons a:hover {
        color: #7a1818;
        transition: all 1.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
